body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.LandingPage {
  height: 100dvh;
  width: 100dvw;
  background: url("../assets/landingPage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.nav-landingPage {
  min-width: 100vw;
  display: flex;
  align-items: center;
  color: white;
  justify-content: space-between;
}

.left-nav {
  width: 35dvw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1.8rem;
  margin-top: 1.8rem;
}

.left-nav div {
  margin-right: 1.8rem;
  color:lavenderblush;
}

.left-nav div:hover {
  text-decoration: underline;
  color: #d984ec;

}

.right-nav {
  display: flex;
  justify-content: space-around;
  margin-right: 1.8rem;
  align-items: center;
  margin-top: 1.8rem;
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

.right-nav div {
  margin-right: 1.8rem;
}

.btns-landingpage{
  background-color: transparent;
  color: #F99B38;
  border: 2px solid #f6af64;
  position: relative;
  overflow: hidden;
  padding: 5px 10px;
  transition: 0.3s ease-in-out;
}

.icons{
  font-size: 30px;
  color: white;
  box-shadow: 0 0 20 0 #f6af64;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.icons:hover{
  color: #f6af64;
  transform: scale(1.2);
}
.btns-landingpage:hover{
  border-radius: 5px;
  border: 2px solid rgb(0, 0, 0);
  background-color: #F99B38;
  color: #ffffff;
}

.title {
  font-weight: 100;
  font-size: 1.5rem;
  opacity: 0.9;
  font-weight: 100;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.content-landingPage {
  margin-top: 7rem; ;
  display: flex;
  color: lavenderblush;
  flex-direction: column;
  margin-left: 1.8rem;
}

.heading-landingPage{
  letter-spacing: 5px;
  margin-bottom: 20px;
}


.slogan{
  margin-bottom: 10px;
  margin-top: 10px;
  width: 400px;
}

.description{
  width: 400px;
}

.discription-landingpage{
  font-weight: 200;
  font-size: 1.1rem;
  opacity: 0.9;
  margin-bottom: 20px;
}

.start-btn {
  margin-left: 1.8rem;
  margin-top: 1.5rem;
  width: 8rem;
  color: white;
  background: transparent;
  border: 0.2rem solid transparent; 
  border-image: linear-gradient(to right, purple, blue, pink);
  border-image-slice: 1;
  transition: border-image 0.3s ease;
  border-radius: 0.8rem;
  position: relative;
  overflow: hidden;
  padding: 0.6rem;
  z-index: 2; 
}

.start-btn::before {
  content: "";
  position: absolute;
  top: -0.2rem; 
  right: -0.2rem;
  bottom: -0.2rem;
  left: -0.2rem;
  z-index: -1;
  transition: transform 0.5s ease-in-out;
  animation: gradient-animation 3s infinite linear;
}

.start-btn:hover::before {
  transform: translateX(-100%);
}

@keyframes gradient-animation {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
